@use "../constants" as *;

.Album {
  height: 100%;

  display: grid;
  position: relative;
  grid-template-rows: 1fr 10fr;
  overflow: hidden;

  &__title {
    padding: $gutter-width;
    padding-bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    font-family: $font-accent;
  }
}

.Album-controls {
  display: flex;
  gap: 1rem;

  &__btn {
    @include plain-button;
    transition: opacity 300ms;

    &:disabled {
      color: grey !important;
    }

    .dark & {
      color: $fg-dark-main;

      &:hover {
        color: $bg-dark-accent;
      }
    }

    .light & {
      color: $fg-light-main;

      &:hover {
        color: $bg-light-accent;
      }
    }
  }
}

.Album-carousel {
  @include sans-scrollbar;
  height: 100%;
  padding: $gutter-width 0;
  display: flex;
  overflow-x: scroll;

  &__photo {
    height: 100%;
    padding-left: $gutter-width;

    display: flex;
    position: relative;
    cursor: pointer;

    img {
      height: inherit;
    }

    &:first-child {
      padding-left: $gutter-width;
    }

    &:last-child {
      padding-right: $gutter-width;
    }
  }
}

.Album-overlay {
  height: 100vh;
  width: 100vw;

  position: absolute;
  top: 0;
  z-index: 1000;
  overflow: hidden;

  &__photo {
    width: 100vw;
    height: 100vh;
    padding: $gutter-width;

    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: default;

    &.portrait {
      .Album-overlay__image {
        flex-direction: column;
      }

      .Album-overlay__info {
        padding: 0 $gutter-width;
        height: $gutter-width * 4;
      }
    }

    &.landscape {
      .Album-overlay__info {
        padding: $gutter-width 0;
        width: $gutter-width * 4;
        writing-mode: vertical-rl;
      }
    }
  }

  &__image {
    display: flex;
    width: min-content;
    height: min-content;

    img {
      height: inherit;
    }
  }

  &__info {
    display: flex;
    font-family: $font-accent;
    background: #fff;
    align-items: center;
    justify-content: space-between;
  }

  &__controls {
    @include plain-button;
    margin: $gutter-width;

    position: absolute;
    z-index: 1001;

    font-weight: bold;
    font-variant: small-caps;
    transition: color 200ms;

    &:hover {
      color: $bg-light-accent;
    }

    &:disabled {
      color: grey !important;
    }

    svg {
      font-size: 2rem;
    }

    &.close {
      top: 0;
      right: 0;
      svg {
        font-size: 1.5rem;
      }
    }

    &.prev {
      margin: 0 $gutter-width;
      left: 0;
      top: calc(50% - 1rem);
    }

    &.next {
      margin: 0 $gutter-width;
      right: 0;
      top: calc(50% - 1rem);
    }
  }

  .dark & {
    background: rgba($bg-dark-main, 0.98);

    &__info {
      background: #000;
    }

    &__controls {
      color: $fg-dark-main;

      &:hover {
        color: $bg-dark-accent;
      }
    }
  }

  .light & {
    background: rgba($bg-light-main, 0.98);

    &__info {
      background: #fff;
    }

    &__controls {
      color: $fg-light-main;

      &:hover {
        color: $bg-light-accent;
      }
    }
  }
}
