@use '../constants' as *;

.AlbumPreview {
  @include sans-scrollbar;
  padding-top: 0;

  gap: $gutter-width;
  display: grid;
  overflow: scroll;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-self: center;

  &__link {
    position: relative;
    overflow: hidden;
    height: calc((100vw - $gutter-width * 4) / 3 * 5 / 4);
    width: 100%;
  }

  &__image {
    position: absolute;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
