@use "../constants" as *;

.Photo-mobile {
  width: 100%;
  padding-top: $header-height-mobile;

  display: none;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
  }

  &__bio {
    padding: $gutter-width;
    padding-top: 30vh;
    padding-bottom: 0;

    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
  }

  &__header {
    font-variant: none;
    font-size: 2.5rem;
  }

  &__topline {
    height: 3px;
    width: 80px;
    margin: calc($gutter-width * 2) 0;
    margin-left: $gutter-width;

    display: flex;
  }

  .Album-mobile {
    padding-bottom: calc($gutter-width * 2);

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      width: 100%;
      padding: 0 $gutter-width;
      padding-bottom: $gutter-width;
    }

    &__count {
      padding-top: $gutter-width;

      font-family: $font-accent;
      font-weight: bold;
      font-size: 0.75rem;
    }
  }

  .Album-photos {
    @include sans-scrollbar;
    width: 100%;

    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &__container {
      width: 100vw;
      max-height: 80vh;

      scroll-snap-align: start;
    }

    &__image {
      padding: 0 $gutter-width;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
        max-height: 80vh;
      }
    }
  }
}
