@use '../constants' as *;

.Footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: $gutter-width;
  padding-top: calc($gutter-width * 4);
  padding-bottom: calc($gutter-width * 3);
  position: relative;

  &__signature {
    grid-column: 3;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    font-variant: small-caps;

    .light & {
      color: $fg-light-main;
    }

    .dark & {
      color: $fg-dark-main;
    }
  }

  &__links {
    display: flex;
    gap: 10px;
  }

  &__button {
    @include plain-button;
    padding: 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    grid-column: 2;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    font-variant: small-caps;

    .light & {
      color: $fg-light-main;
    }

    .dark & {
      color: $fg-dark-main;
    }
  }

  @media (max-width: $mobile) {
    grid-template-columns: 1fr 70px 1fr;
    padding-top: calc($gutter-width * 2);
    padding-bottom: calc($gutter-width * 2);

    &__link {
      display: none;

      &:first-child {
        display: flex;
      }
    }
  }
}
