@use "../constants" as *;

.IconButton {
  @include highlight-button;
  position: relative;
  padding: 3px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  .dark & {
    color: $fg-dark-main;
  }

  .light & {
    color: $fg-light-main;
  }

  &::after {
    top: 40%;
    height: 20px;
    right: -5px;
  }

  &:hover::after, &.selected::after {
    width: calc(100% + 5px);
    left: 0px;
  }
}
