@use "../constants" as *;

.Image {
  position: relative;
  height: inherit;
  width: inherit;

  &__loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .dark & {
      background-color: $bg-dark-overlay;
    }

    .light & {
      background-color: $bg-light-overlay;
    }
  }

  &__img {
    transition: opacity 300ms 40ms;

    &.hide {
      opacity: 0;
    }
  }
}
