@use "../constants" as *;

.Image {
  height: inherit;
  width: inherit;

  // in liew of making the loading div absolute
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;

  &__loading {
    z-index: 1;
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    height: 100%;
    width: 100%;

    .dark & {
      background-color: $bg-dark-overlay;
    }

    .light & {
      background-color: $bg-light-overlay;
    }
  }

  &__img {
    transition: opacity 300ms 40ms;

    z-index: 2;
    grid-column: 1 / 1;
    grid-row: 1 / 1;

    &.hide {
      opacity: 0;
    }
  }
}
