@use '../constants' as *;

.Title {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  padding-top: calc(3 * $gutter-width);
  padding-bottom: calc(3 * $gutter-width);
  max-width: 1200px;

  transition: all 200ms ease-in-out;
  font-family: $font-accent;
  text-align: center;

  @media (max-width: $mobile) {
    grid-template-columns: min-content 1fr;
    padding: $gutter-width 0;
  }

  & h2 {
    width: 500px;
    justify-self: center;

    @media (max-width: $mobile) {
      text-align: right;
      width: 100%;
      font-size: 1rem;
    }
  }

  &__buttons {
    align-self: center;
    display: flex;

    &.navigation {
      justify-content: flex-end;
      gap: calc($gutter-width * 2);

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &__button {
    @include highlight-button;
    transition: color 200ms ease-in-out;
    font-size: 14px;
    font-weight: bold;
    font-variant: small-caps;

    .dark & {
      color: $fg-dark-main;
    }

    .light & {
      color: $fg-light-main;
    }

    &:disabled {
      color: gray;
    }
  }
}
