@use 'constants' as *;

.About {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  padding-top: $header-height;
  padding-bottom: $header-height;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: min-content;
    width: 100%;
    max-width: calc(2 * 440px + 2 * $gutter-width + $gutter-width * 1.5);
    margin: 0 auto;
    padding: $gutter-width;

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: calc($gutter-width * 1.5);
  }

  &__image {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc($gutter-width / 2);
  }

  &__photo {
    display: block;
    object-fit: cover;
    border: 3px solid #000;
  }

  &__text {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gutter-width;
  }
}

@media (max-width: $mobile) {
  .About {
    padding-top: calc($header-height-mobile + $gutter-width * 0.5);
    padding-bottom: calc($header-height-mobile + $gutter-width * 0.5);
  }
}

@media (max-width: 768px) {
  .About {
    height: unset;

    &__container {
      max-width: calc(440px + 2 * $gutter-width);
      grid-template-columns: 1fr;
    }

    &__text {
      padding-top: 0;
      width: 100%;
    }
  }
}

.Bio {
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 14px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.75;

  &--link {
    @include common-link;
    text-decoration: underline;
  }

  &__name {
    transition: color 300ms;
  }

  &__text {
    display: inline;
    transition: color 300ms;
  }
}

.Socials {
  width: min-content;

  display: flex;
  flex-direction: column;
  gap: 30px;

  &__topline {
    height: 3px;
    width: 100%;

    transition: background 300ms;
  }

  &__links {
    width: min-content;

    display: flex;
    gap: 16px;
  }

  &--link {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.dark .Socials {
  &__topline {
    background: $fg-dark-main;
  }
}

.light .Socials {
  &__topline {
    background: $fg-light-main;
  }
}
