@import "constants.scss";

.Album {
  display: grid;
  position: relative;
  grid-template-rows: 10fr 1fr;
  height: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding-top: $gutter-width;
    padding-bottom: calc($gutter-width * 2);

    &_text {
      font-family: $font-accent;
      padding-left: $gutter-width;
      margin: 0;
    }

    &_download {
      @include plain-button;
      position: relative;
      top: 3px;
    }
  }

  &__controls {
    display: flex;
    padding-right: $gutter-width;
    gap: 1rem;

    button {
      @include plain-button;
      transition: opacity 300ms;

      &:disabled {
        opacity: 0.8;
      }
    }
  }

  &__scroll {
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100px;
    z-index: 1000;

    &:hover {
      background: rgba($bg-dark-main, 0.2);
    }

    &.left {
      margin-left: $gutter-width;
    }

    &.right {
      right: 0;
      margin-right: $gutter-width;
    }
  }

  &__overlay {
    z-index: 1000;
    top: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    background: rgba($bg-light-main, 0.98);

    &_controls {
      @include plain-button;
      position: absolute;
      z-index: 1001;
      margin: $gutter-width;
      font-weight: bold;
      font-variant: small-caps;
      transition: color 200ms;

      &:hover {
        color: $bg-light-accent;
      }

      &:disabled {
        color: gray;
      }

      svg {
        font-size: 2rem;
      }

      &.close {
        top: 0;
        right: 0;
        svg {
          font-size: 1.5rem;
        }
      }

      &.prev {
        margin: 0 $gutter-width;
        left: 0;
        top: calc(50% - 1rem);
      }

      &.next {
        margin: 0 $gutter-width;
        right: 0;
        top: calc(50% - 1rem);
      }
    }
  }

  &__carousel {
    @include sans-scrollbar;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    padding: $gutter-width 0;

    &_photo {
      display: flex;
      position: relative;
      padding-left: $gutter-width;
      height: 100%;
      cursor: pointer;

      img {
        height: inherit;
      }

      &_container {
        display: flex;
        width: min-content;
        height: min-content;
      }

      &.selected {
        cursor: default;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $gutter-width;
        height: 100vh;
        width: 100vw;
        top: 0;
      }

      &.portrait {
        .Album__carousel_photo_container {
          flex-direction: column;
        }

        .Album__carousel_photo_info {
          padding: 0 $gutter-width;
          height: $gutter-width * 4;
        }
      }

      &.landscape {
        .Album__carousel_photo_info {
          padding: $gutter-width 0;
          width: $gutter-width * 4;
          writing-mode: vertical-rl;
        }
      }

      &_info {
        display: flex;
        font-family: $font-accent;
        background: #fff;
        align-items: center;
        justify-content: space-between;
      }

      &_download {
        @include plain-button;
        display: unset;
        opacity: 0;
        position: absolute;
        right: 0;
        padding: 10px;
        color: $bg-light-main;
        transition: opacity 150ms;
      }

      &:hover .Album__carousel_photo_download {
        display: unset;
        opacity: 1;
      }

      &:first-child {
        padding-left: $gutter-width;
      }

      &:last-child {
        padding-right: $gutter-width;
      }
    }
  }
}

.dark {
  .Album {
    &__carousel_photo.selected {
      background: rgba($bg-dark-main, 0.8);
    }

    &__carousel_photo_info {
      background: #000;
    }
  }
}

.light {
  .Album {
    &__carousel_photo.selected {
      // background: rgba($bg-light-main, 0.8);
    }

    &__carousel_photo_info {
      background: #fff;
    }
  }
}
