@import "constants.scss";

.Album {
  display: grid;
  grid-template-rows: 1fr 10fr;
  height: 100%;
  overflow: hidden;

  &__title {
    display: flex;
    gap: 1rem;
    align-items: center;

    &_text {
      font-family: $font-accent;
      padding-left: $gutter-width;
      margin: 0;
    }

    &_download {
      @include plain-button;
      position: relative;
      top: 3px;
    }
  }

  &__carousel {
    height: 100%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: calc($gutter-width * 2);

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-button {
      display: none;
    } /* Chrome */

    &_photo {
      display: flex;
      position: relative;
      padding-left: $gutter-width;
      height: 100%;
      cursor: pointer;

      img {
        height: 100%;
      }

      &_container {
        display: flex;
        width: min-content;
        height: min-content;
      }

      &.selected {
        z-index: 1000;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $gutter-width;
        height: 100vh;
        width: 100vw;
        top: 0;
      }

      &.portrait {
        .Album__carousel_photo_container {
          flex-direction: column;
        }

        .Album__carousel_photo_info {
          padding: 0 $gutter-width;
          height: $gutter-width * 4;
        }
      }

      &.landscape {
        .Album__carousel_photo_info {
          padding: $gutter-width 0;
          width: $gutter-width * 4;
          writing-mode: vertical-rl;
        }
      }

      &_info {
        display: flex;
        font-family: $font-accent;
        background: #fff;
        align-items: center;
        justify-content: space-between;
      }

      &_download {
        @include plain-button;
        display: unset;
        opacity: 0;
        position: absolute;
        right: 0;
        padding: 10px;
        color: $bg-light-main;
        transition: opacity 150ms;
      }

      &:hover .Album__carousel_photo_download {
        display: unset;
        opacity: 1;
      }

      &:first-child {
        padding-left: $gutter-width;
      }

      &:last-child {
        padding-right: $gutter-width;
      }
    }
  }
}

.dark {
  .Album {
    &__carousel_photo.selected {
      background: rgba($bg-dark-main, 0.8);
    }

    &__carousel_photo_info {
      background: #000;
    }
  }
}

.light {
  .Album {
    &__carousel_photo.selected {
      background: rgba($bg-light-main, 0.8);
    }

    &__carousel_photo_info {
      background: #fff;
    }
  }
}
