@import "constants.scss";

.App {
  transition: filter $first-transition-time ease-in;
  background: $bg-main;
  min-height: 100vh;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  // &.transitioning {
  //     filter: invert(1);
  // }
}

.Divider {
  width: 100%;
  display: flex;
}
