@import "constants.scss";

.App {
  transition: background 300ms, color 300ms;
}

.dark {
    background: $bg-dark-main;
    color: $fg-dark-main;
}

.light {
    background: $bg-light-main;
    color: $fg-light-main;
}
