@use "constants" as *;

.Arc {
  padding: $gutter-width;
  padding-top: $header-height;

  @media (max-width: $mobile) {
    padding-top: $header-height-mobile;
  }

  &__link {
    @include common-link;
    font-family: $font-accent;
    font-weight: bold;
  }

  &__header {
    margin-bottom: $gutter-width;
    transition: background 300ms;
  }
}

.Arc-album {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $gutter-width;

  &__image {
    width: 100%;
  }
}

.Arc-table {
  min-height: 100vh;
  padding: $gutter-width;
  padding-top: $header-height;

  &__list {
    margin: 0;
  }

  &__item {
    list-style: none;
    margin-bottom: 1.5rem;
  }
}
