@import "constants.scss";

.Home {
  height: 100vh;
  padding: $gutter-width;
  padding-top: $header-height;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: $gutter-width;

  &__carousel {
    height: 50vh;
    width: calc(100vw - $gutter-width * 2);
  }

  &__Image {
    padding-right: 3px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    &_obj {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__Footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: $gutter-width;

    h1 {
      font-family: $font-accent;
    }

    &_Link {
      @include strikethrough-button;

      &::after {
        height: 3px;
      }
      font-size: 1.5rem;
      font-variant: small-caps;
      font-weight: bold;
    }
  }
}

// Light/Dark Themes
.dark {
  .Home__Footer_Link {
    color: $fg-dark-main;
  }
}

.light {
  .Home__Footer_Link {
    color: $fg-light-main;
  }
}

// Swap images depending on screen size
$breakpoint: 645px;

@media (max-width: calc($breakpoint - 1px)) {
  .Home {
    &__Image {
      &_obj.landscape {
        display: none;
      }
    }
  }
}

@media (min-width: $breakpoint) {
  .Home {
    &__Image {
      &_obj.portrait {
        display: none;
      }
    }
  }
}
