@use "constants" as *;

.Image {
  position: relative;
  height: inherit;
  width: inherit;

  &__Loading {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  &__img {
    transition: opacity 300ms 40ms;

    &.hide {
      opacity: 0;
    }
  }
}

.dark {
  .Image__Loading {
    background-color: $bg-dark-overlay;
  }
}

.light {
  .Image__Loading {
    background-color: $bg-light-overlay;
  }
}
