@use "constants";
@use "About";
@use "Album";
@use "App";
@use "Archive";
@use "Header";
@use "Home";
@use "Menu";
@use "Photo";
@use "components/Image";
@use "components/Riser";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
