@use "constants";
@use "About";
@use "App";
@use "Archive";
@use "Header";
@use "Menu";

@use "components";
@use "photo";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
