@use "constants" as *;

.Menu {
  transition:
    color 150ms ease-out,
    background 150ms ease-out;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;

  scroll-snap-align: start;

  top: 0;
  width: 100%;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &_Link {
    transition: color 150ms ease-out;
    text-decoration: none;

    @include strikethrough-button;

    &::after {
      height: 5px;
    }

    &_Text {
      display: inline-block;
      font-size: 63px;
      line-height: 53px;
      height: 64px;
      font-family: $font-accent;
      font-variant: small-caps;
    }
  }

  &__Pages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: $gutter-width;
    padding-top: calc(2 * $header-height);
    gap: $gutter-width;
    width: 100%;
    &_Link {
      color: white;
      text-decoration: none;
      font-size: 2.5rem;
    }
  }

  &__Socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: $gutter-width;

    &_Link {
      margin: 0;
      text-decoration: none;
      font-size: 20px;
      font-variant: small-caps;
      font-weight: bold;
    }
  }
}

.dark .Menu {
  color: $fg-dark-main;
  background: $bg-dark-accent;

  &_Link {
    color: $fg-dark-main;
    &::after {
      background: $fg-dark-main;
    }
  }

  &__Socials_Link {
    color: $fg-dark-main;
  }
}

.light .Menu {
  color: $bg-light-main;
  background: $bg-light-accent;

  &_Link {
    color: $bg-light-main;
    &::after {
      background: $bg-light-main;
    }
  }

  &__Socials_Link {
    color: $bg-light-main;
  }
}
